For this lab, you are going to take the data you had been working on in the previous two labs and plot them!

Here is the schema of the trip dataset, found in `trip_data_500k.csv`:

* `medallion`: The ID of the cab being operated
* `hack_license`: The ID of the person operating the cab
* `vendor_id`: The type of vendor operating the cab, can either be `CMT` or `VTS`, no clue what these two types mean
* `rate_code`: Designates the kind of ride this is, must be `1` through `6`, any other number is incorrect
* `store_and_fwd_flag`: Can be either `Y`,`N`, or Nan
* `pickup_datetime`: The time when the ride started
* `dropoff_datetime`: The time when the ride ended
* `passenger_count`: The number of passengers during the ride
* `trip_time_in_secs`: How long the trip took
* `trip_distance`: Distance of the trip, to the nearest 1/10 mile
* `pickup_longitude`: Longitude of pickup location
* `pickup_latitude`: Latitude of pickup location
* `dropoff_longitude`: Longitude of dropoff location
* `dropoff_latitude`: Latitude of dropoff location

And here is the schema for the fare dataset, found in `trip_fare_500k.csv`:

* `medallion`: The ID of the cab being operated
* `hack_license`: The ID of the person operating the cab
* `vendor_id`: The type of vendor operating the cab, can either be `CMT` or `VTS`, no clue what these two types mean
* `pickup_datetime`: The time when the ride started
* `payment_type`: How the trip was paid, `UNK` stands for unknown, I have no idea what `NOC` stands for, but lets assume its some known way to pay
* `fare_amount`: Base fare cost of the trip
* `surcharge`: Additional charges that are not tolls
* `mta_tax`: The mta has to get its cut, right? :)
* `tip_amount`: How generous the rider(s) decided to be
* `tolls_amount`: How much money you had to pay in tolls
* `total_amount`: How much the trip cost, all in

Answer the following questions (using plots!):

1. Plot the distribution of fares paid in the dataset (histogram):
  * Across all time
  * For weekends versus weekdays - 1) stacked (overlaid) and 2) in separate graphs
* Plot the average tip paid as a function of distance:
  * As a scatter plot  - use `kind="scatter"`
  * By creating a categorical variable with 3 levels - < 2 miles, 2-5 miles, > 5 miles
* Plot the average tip amount as a function of the time of day (get the closest end time, to the closest minute, for the `dropoff_datetime`)
  * On a per-borough basis (use the dropoff location as the borough)
* Plot the overall average tip amount:
  * On a per-dropoff borough basis (bar graph), with error bars (use the standard deviation for the error)
  * On a per-pickup borough basis
* Plot the distribution of hour-of-pickup:
  * Across all time
  * For weekends and weekdays separately
* Plot the average number of passengers per ride across the whole dataset, to the closest hour (this should be a timeseries).

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
trip_data = pd.read_csv('../data/nycTaxiData/trip_data_500k.csv')
trip_fare = pd.read_csv('../data/nycTaxiData/trip_fare_500k.csv')

In [6]:
merged_data = pd.merge( trip_data, trip_fare,
         on=['medallion', 'pickup_datetime'], 
         how="left")

In [7]:
merged_data.head()

,medallion,hack_license_x,vendor_id_x,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,dropoff_latitude,hack_license_y,vendor_id_y,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,1.0,...,40.751171,BA96DE419E711691B9445D6A6307C170,CMT,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,1.5,...,40.750660,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,1.1,...,40.726002,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,0.7,...,40.759388,51EE87E3205C985EF8431D850C786310,CMT,CSH,5.0,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,2.1,...,40.747868,51EE87E3205C985EF8431D850C786310,CMT,CSH,9.5,0.5,0.5,0.0,0.0,10.5